---
import BaseLayout from '../layouts/Layout.astro';
import HeroSection from "../components/Herosection.astro";
import OGSeriesImg from '/public/images/services/OG-series.jpg';
import FruityAndFloralImg from '/public/images/services/fruity-and-floral.jpg';
import ExlusiveImg from '/public/images/services/exclusive.jpg';
import MokaImg from '/public/images/services/moka.jpg';
import EspressoImg from '/public/images/services/espresso.jpg';
import ConsultationImg from '/public/images/services/consultation.jpg';
import MaintenanceImg from '/public/images/services/maintenance.jpg';

const socialFacebook = "https://www.facebook.com/CafeMystika";
const angeloMessenger = "https://web.facebook.com/messages/e2ee/t/8567561126643238"
const cocktailPackages = [
  {
    title: 'OG Series',
    subtitle: '(Uses pouring brands)',
    description: `<ul class="list-disc pl-5 text-left">
                      <li><b>The OG Series</b> –<span class="opacity-60"> A tribute to timeless flavors & iconic moments.</span></li>
                      <li><b>Signature & Classic</b> –<span class="opacity-60"> Handpicked favorites from behind the bar.</span></li>
                      <li><b>Every Sip, a Story</b> –<span class="opacity-60"> Crafted with history, heart, and bold character.</span></li>
                      <li><b>Revisit or Discover</b> –<span class="opacity-60"> Rediscover your go-to or meet your next favorite.</span></li>
                      <li><b>Crafted with Passion</b> –<span class="opacity-60"> Where mixology meets legacy.</span></li>
                  </ul>`,
    subdescription:`<div class="text-center mb-5"><div class="font-bold text-2xl py-2.5">Discover the OG Series </div><div>"A tribute to timeless flavors and unforgettable moments."</div></div>`,
    fulldescription: `<span class="opacity-60">Handpicked from our most loved classics and signature creations, each cocktail tells the story of our journey behind the bar. Whether you're revisiting a favorite or finding a new go-to, every sip captures the essence of our craft, our history, and our passion for the art of mixology.</span>`,
    price: 'Starts @<br><span class="text-4xl">₱10,500</span>/<span class="text-sm">100 PAX</span>',
    image: OGSeriesImg
  },
  {
    title: 'Fruity and Floral',
    description: `<ul class="list-disc pl-5 text-left">
                    <li><b>Fruity & Floral Package</b> –<span class="opacity-60"> Where fresh meets finesse.</li>
                    <li><b>Juicy Meets Elegant</b> –<span class="opacity-60"> Ripe fruits + delicate floral infusions.</li>
                    <li><b>Handcrafted Creations</b> –<span class="opacity-60"> Signature cocktails & bespoke blends.</li>
                    <li><b>Aromatic & Refreshing</b> –<span class="opacity-60"> Bursting with flavor, fragrance & charm.</li>
                    <li><b>Nature-Inspired Sophistication</b> –<span class="opacity-60"> Bright, tropical, or soft & fragrant.</li>
                    <li><b>Elevate Every Sip</b> –<span class="opacity-60"> A sensory journey in every glass.</li>
                  </ul>`,
    subdescription:`<div class="text-center mb-5"><div class="font-bold text-2xl py-2.5">Experience the Fruity & Floral Package</div><div>"Where fresh meets finesse."</div></div> `,
    fulldescription: `<span class="opacity-60">This handcrafted cocktail collection celebrates the vibrant fusion of ripe fruits and delicate floral infusions. From signature creations to bespoke masterpieces, each drink is a refreshing sensory journey—bursting with juicy flavors, aromatic syrups, and elegant floral notes. Whether you're craving something bright and tropical or soft and fragrant, this package brings a touch of sophistication and nature-inspired charm to every sip.</span>`,
    price: 'Starts @<br><span class="text-4xl">₱12,000</span>/<span class="text-sm">100 PAX</span>',
    image : FruityAndFloralImg
  },
  {
    title: 'Exclusive',
    description: `<ul class="list-disc pl-5 text-left">
                    <li><b>The Exclusive Package</b> –<span class="opacity-60"> Refined spirits, timeless sophistication.</span></li>
                    <li><b>Rich & Earthy</b> –<span class="opacity-60"> Top-shelf whiskeys, rums, and brandies.</span></li>
                    <li><b>Crafted for the Discerning</b> –<span class="opacity-60"> Bold flavor meets elegant execution.</span></li>
                    <li><b>Classics Reimagined</b> –<span class="opacity-60"> Masterfully balanced & deeply complex.</span></li>
                    <li><b>Authentic Luxury</b> –<span class="opacity-60"> A curated experience in every sip.</span></li>
                  </ul>`,
    subdescription:`<div class="text-center mb-5"><div class="font-bold text-2xl py-2.5">Elevate your taste with the Exclusive Package</div><div>"A celebration of refined spirits and timeless sophistication."</div></div>`,
    fulldescription: `<span class="opacity-60">Crafted for those who appreciate depth, character, and quality, this collection showcases top-shelf whiskeys, rums, and brandies with rich, earthy notes and smooth, crisp finishes. Each cocktail is a masterclass in balance and complexity—whether it’s a reimagined classic or a bespoke creation tailored to your palate. Designed for the discerning, this package delivers bold flavor, elegance, and authenticity in every sip.</span>`,
    price: 'Starts @<br><span class="text-4xl">₱18,500</span>/<span class="text-sm">50 PAX</span>',
    image: ExlusiveImg
  },
];

const coffeePackages = [
  {
    title: 'Moka Package',
    description: `<ul class="list-disc pl-5 text-left">
                    <li><b>Bold & Smooth</b> – <span class="opacity-60">Brewed to impress, every cup delivers rich flavor.</span></li>
                    <li><b>Artisan Energy</b> – <span class="opacity-60">Classic Moka Pot magic with a modern edge.</span></li>
                    <li><b>Elevate Every Gathering</b> – <span class="opacity-60">Simple to brew, unforgettable to serve.</span></li>
                    <li><b>Pure or Creative</b> – <span class="opacity-60">Enjoy it black or with your signature twist.</span></li>
                    <li><b>Warmth in Every Pour</b> – <span class="opacity-60">Comfort, charm, and caffeine in one package.</span></li>
                </ul>`,
    subdescription:`<div class="text-center mb-5"><div class="font-bold text-2xl py-2.5">Bold, smooth, and brewed to impress</div> <div>"Our Moka Pot Package delivers coffee with character."</div></div>`,
    fulldescription: `<span class="opacity-60">This method showcases the rich depth of flavor in every cup, offering your guests a simple yet elevated caffeine experience. Whether served pure and black or with a creative twist, each brew brings warmth, energy, and artisanal charm to any gathering.</span>`,
    price: 'Starts @<br><span class="text-4xl">₱9,500</span>',
    image: MokaImg
  },
  {
    title: 'Espresso Package',
    description: `<ul class="list-disc pl-5 text-left">
                    <li><b>Café-Quality at Home</b> – <span class="opacity-60">Brewed to perfection, every single pour.</span></li>
                    <li><b>Bold to Creamy</b> – <span class="opacity-60">Enjoy rich shots or silky-smooth lattes.</span></li>
                    <li><b>Precision & Balance</b> – <span class="opacity-60">Smooth, bold, and never bitter.</span></li>
                    <li><b>Loved by Guests</b> – <span class="opacity-60">Impress coffee lovers with every cup.</span></li>
                    <li><b>Craft in Every Cup</b> – <span class="opacity-60">Perfect for enthusiasts and casual sippers alike.</span></li>
                </ul>`,
    subdescription:`<div class="text-center mb-5"><div class="font-bold text-2xl py-2.5">Brewed to perfection</div> <div>"Our Espresso Package delivers café-quality coffee with every pour."</div></div>`,
    fulldescription: `<span>From bold shots to creamy lattes, our espresso machine guarantees a smooth, rich, and balanced experience your guests will love. Ideal for coffee enthusiasts and anyone who appreciates craft in every cup.</span>`,
    price: 'Starts @<br><span class="text-4xl">₱11,500</span>',
    image: EspressoImg
  },
];
---
<BaseLayout title="Services">
  <HeroSection/>
  <section class="flex flex-col items-center px-3 text-center" id="mobile-bar">
      <h1 class="text-3xl text-text-title my-20 w-full mx-auto font-bold">Mobile Bar Packages</h1>
      <p class="max-w-lg text-text-paragraph opacity-60">At Café Mystika, we bring the perfect blend of craft coffee and cocktails to your gatherings, offering curated packages to suit every occasion. From bold moka brews and velvety espresso shots to refreshing fruity creations and sophisticated signature cocktails, every pour is made to delight, spark connections, and elevate your celebration.</p>
    <div x-data="{ openIndex: null, hovered: null }">
        <!-- Cocktail Packages -->
        <h2 class="text-3xl text-text-title my-20 w-full mx-auto font-bold">Cocktail Packages</h2>
        <div 
          x-data="{ shown: false }"
          x-intersect.treshold.25="shown = true"
          :class="shown ? '-translate-y-0 opacity-100' : 'translate-y-10 opacity-0'"
          class="grid grid-cols-1 md:grid-cols-3 gap-8 w-full max-w-6xl mt-5 justify-center mx-auto transition-all duration-700 ease-out"
        >
        {cocktailPackages.map((pkg, idx) => (
          <div
            @mouseenter={`if (openIndex === null) hovered = ${idx}`}
            @mouseleave={`if (openIndex === null || openIndex === ${idx}) hovered = null`}
            :class={`(openIndex === ${idx} || (openIndex === null && hovered === ${idx})) ? "bg-button-active border-[#242424] -translate-y-2" : "bg-black-secondary text-text-paragraph border-button-active"`}
            class="group relative rounded-br-2xl shadow  flex flex-col items-center border-3 fade-in-up transition-all duration-300 hover:transition-transform bg-black-secondary text-[#242424] border-button-active"
            style={`animation-delay: ${idx * 120}ms`}
          >
              <div class="mb-10 w-full">
                  <img src={pkg.image.src ?? pkg.image} alt="" class="h-60  w-full mb-4 object-cover" />
              </div>
              <div class="m-6 h-full relative">
                  <h3 class="text-xl font-bold mb-2 text-center">
                      {pkg.title}
                      {pkg.subtitle && <br />}
                      {pkg.subtitle && (
                        <span class="text-base font-normal">{pkg.subtitle}</span>
                      )}
                  </h3>
                  <div
                          set:html={pkg.price}
                          :class={`(openIndex === ${idx} || (openIndex === null && hovered === ${idx})) ? 'text-[#242424]' : 'text-amber-500'`}
                          class="font-semibold mb-2 text-center text-2xl duration-300 mb-10">
                  </div>
                  <div class="text-left mb-7" set:html={pkg.subdescription}></div>
                  <div class="text-left mb-20" set:html={pkg.description}></div>
                  <a href={ socialFacebook }
                     target="_blank"
                     class="bg-black-primary text-text-divider w-full text-center px-5 py-2.5 rounded cursor-pointer absolute inset-x-0 bottom-0"> Book Now! </a>
              </div>
          </div>
        ))}</div>

      <!-- Coffee Packages -->
      <h2 class="text-3xl text-text-title my-20 w-full mx-auto font-bold">Coffee Packages</h2>
      <div
        x-data="{ shown: false }"
        x-intersect.treshold.25="shown = true"
        :class="shown ? '-translate-y-0 opacity-100' : 'translate-y-10 opacity-0'"
        class="grid grid-cols-1 md:grid-cols-2 gap-8 w-full max-w-4xl mb-14 mt-5 justify-center mx-auto transition-all duration-700 ease-out"
      >
        {coffeePackages.map((pkg, idx) => (
          <div 
            x-data
            @mouseenter={`if (openIndex === null) hovered = ${idx + 100}`}
            @mouseleave={`if (openIndex === null || openIndex === ${idx + 100}) hovered = null`}
            :class={`(openIndex === ${idx + 100} || (openIndex === null && hovered === ${idx + 100})) ? "bg-button-active border-[#242424] -translate-y-2" : "bg-black-secondary text-text-paragraph border-button-active"`}
            class="group relative rounded-br-2xl shadow flex flex-col items-center border-3 fade-in-up transition-all duration-300 hover:transition-transform bg-black-secondary text-[#242424] border-button-active"
            style={`animation-delay: ${idx * 120}ms`}
          >
              <div class="mb-10 w-full">
                <img src={pkg.image.src ?? pkg.image} alt="" class="w-full h-50 mb-4 object-cover" />
              </div>
              <div class="m-6 h-full relative">
                <h3 class="text-xl font-bold mb-2 text-center">{pkg.title}</h3>
                <div
                  set:html={pkg.price}
                  :class={`(openIndex === ${idx + 100} || (openIndex === null && hovered === ${idx + 100})) ? 'text-[#242424]' : 'text-amber-500'`}
                  class="font-semibold mb-2 text-center text-2xl duration-300"
                ></div>
                  <div class="text-left mb-7" set:html={pkg.subdescription}></div>
                  <div class="text-left mb-20" set:html={pkg.description}></div>
                  <a href={ socialFacebook }
                     target="_blank"
                     class="bg-black-primary text-text-divider w-full text-center px-5 py-2.5 rounded cursor-pointer absolute inset-x-0 bottom-0"> Book Now! </a>
              </div>
          </div>
        ))}
      </div>
    </div>
  </section>
  <section id="machine-services" class="flex flex-col md:flex-row w-full text-paragraph mb-10 gap-10">
      <div class="md:w-1/2"><img class="h-110 w-full object-cover" src='/images/services/maintenance.jpg'/></div>
      <div class="max-w-lg text-text-paragraph mx-auto px-3 md:py-0">
          <h1 class="text-3xl text-text-title my-10 w-full mx-auto font-bold">Machine Services</h1>
          <p class="mb-10 opacity-60">Keep your coffee flowing at its best with Café Mystika’s professional coffee machine maintenance. We provide thorough cleaning, calibration, and preventative care to ensure your equipment delivers consistent flavor and peak performance. Whether for cafés, restaurants, or home baristas, our expert service helps extend your machine’s lifespan, reduce downtime, and keep every cup tasting exactly as perfect.</p>
          <a href={ angeloMessenger }
             target="_blank"
             class="bg-black-primary text-text-divider w-full text-center px-5 py-2.5 rounded cursor-pointer"> Make an Appointment Now! </a>
      </div>
  </section>
    <section id="business-consultation" class="flex flex-col md:flex-row w-full text-paragraph gap-10 mb-10 md:mb-0">
        <div class="max-w-lg text-text-paragraph mx-auto px-3 md:py-0 order-2 md:order-1">
            <h1 class="text-3xl text-text-title my-10 w-full mx-auto font-bold">Business Consultancy</h1>
            <p class="mb-10 opacity-60">Turn your coffee passion into a thriving business with Café Mystika’s expert consultation services. From concept development and menu creation to workflow optimization and cost management, we guide aspiring entrepreneurs and established cafés toward sustainable success. With industry insights and hands-on expertise, we help you craft a brand that stands out, delights customers, and grows with confidence.</p>
            <a href={ angeloMessenger }
               target="_blank"
               class="bg-black-primary text-text-divider w-full text-center px-5 py-2.5 rounded cursor-pointer"> Begin your Consultation! </a>
        </div>
        <div class="md:w-1/2 order-1 md:order-2"><img class="h-110 w-full object-cover" src='/images/services/consultation.jpg'/></div>
    </section>
</BaseLayout>